<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Пользователь</title>
</head>
<body>
    <p th:text="${person.getFio()} + ${', ' + person.getYearOfBirth()}">VALUE</p>
    <div th:if="${person.getBooks().isEmpty() || person.getBooks().equals(null)}">
    <p>Человек пока не взял ни одной книги</p>
    <hr>
    </div>
    <div th:if="${!person.getBooks().isEmpty()}">
        <hr>
    <p>Книги:</p>
    <p th:each="book : ${person.getBooks()}" th:style="${book.isExpired()}? 'color:red' : 'color:black'"
       th:text="${book.getName() + ', '} + ${book.getAuthor() + ', '} + ${book.getYearOfWriting()}"></p>
        <hr>
    </div>
    <form th:method="GET" th:action="@{/people/{id}/edit(id=${person.getPerson_id()})}">
        <input type="submit" value="Редактировать">
    </form>
    <form th:method="DELETE" th:action="@{/people/{id}(id=${person.getPerson_id()})}">
        <input type="submit" value="Удалить">
    </form>
</body>
</html>